.nav-text {
    font-size: 150%;
}


.ant-layout-sider-zero-width-trigger {
    color: black;
    background: white;
    top: 10px;
    z-index: 10;
}


.ant-layout-sider-zero-width-trigger:hover {
    background: white;
}

